version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: kanjabung_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kanjabung_mrs
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
